* {
  padding: 0;
  margin: 0;
}
nav {
  margin-bottom: 20px;
}
header > h1 {
  margin-bottom: 10px;
}
header {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  border: 2px solid black;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > ul > li > a {
  color: #222;
  text-decoration: none;
}

nav > ul > li a:hover {
  color: pink;
  text-decoration: underline;
}
