header {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  border: 2px solid black;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > ul > li > a {
  color: #222;
  text-decoration: none;
}

nav > ul > li a:hover {
  color: red;
  text-decoration: underline;
}
